.btn{
	display: inline-block;
	border: 2px solid darkblue;
	padding: 5px 10px;
	background-color: #E0FFFF;
	text-decoration: none;
	color: darkblue;
	border-radius: 0px;
	transition: 0.1s;
}
.btn:hover{
	background-color: darkblue;
	color: blue;
}
.btn:active{
	background-color: green;
}
.choice{
	display: inline-block;
	border: 2px solid darkblue;
	padding: 5px 50px;
	background-color: #E0FFFF;
	text-decoration: none;
	color: darkblue;
	border-radius: 10px;
	transition: 0.1s;
}
.choice:hover{
	background-color: darkblue;
	color: blue;
}
.choice:active{
	background-color: red;
}
.in{
	border:2px 
	solid #456879;
	border-radius:10px;
	height: 30px;
	width: 250px;>
}